# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist
dev-dist
.next

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
*.env
*.env.local
*.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
*.tsbuildinfo
*.log

# OS
Thumbs.db

# Biome
.biome
